<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FinanceTracker | Edytuj kategorie</title>
</head>
<body>
    <h1>Wróć do strony głównej
        <form action="/" method="post">
            <input type="submit" value="Wróć" id = "to_main_site" name="to_main_site"/>
        </form>
    </h1>
    <h1>Edytuj kategorie użytkowników</h1>
    <form method="post" name="categories" id="categories">
        <table border="1">
            <th>Nazwa konta</th>
            <th>Domyślne kategorie</th>
            <th>Własna kategoria</th>
                {% for value in values %}
                    {% for v in value %}
                        <tr>
                            <td>{{ v[1] }}</td>
                            <td>
                                <select id="{{ v[1] }}" name="{{ v[1] }}">
                                    <option>{{ v[2] }}</option>
                                    <option>Mieszkanie</option>
                                    <option>Usługi stałe</option>
                                    <option>Transport</option>
                                    <option>Żywność</option>
                                    <option>Chemia</option>
                                    <option>Leczenie</option>
                                    <option>Rozrywka i rekreacja</option>
                                    <option>Oszczędności</option>
                                </select>
                            </td>
                            <td><input type="text" id="{{ v }}1" name="{{ v }}1"></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
        </table>
        <input type="submit" id="save_changes" name="save_changes" value="Zapisz kategorie">
    </form>
</body>
</html>